.menus {
	padding: 50px 0;
	background-color: $black;

	&__heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 735px;
		margin: 0 auto;

		@media all and (min-width: 600px) {
			flex-direction: row;
		}

		.h2 {
			margin-bottom: 20px;

			@media all and (min-width: 600px) {
				margin-bottom: 0;
			}
		}

		.button {
			margin-bottom: 10px;

			@media all and (min-width: 600px) {
				margin-bottom: 0;
			}
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 45px auto 0 auto;
		position: relative;

		.menu__bg {
			display: block;
			width: 150%;
			max-width: 150%;
			height: 740px;
			position: absolute;
			left: 50%;
			top: 60px;
			object-fit: contain;
			transform: translateX(-50%);
		}

		@media all and (min-width: 600px) {
			flex-direction: row;
		}
	}

	.menu {
		width: 100%;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media all and (min-width: 600px) {
			flex-direction: row;
		}

		&.active {
			display: flex;
			animation: anim 2s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);

			@keyframes anim {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}

		.col__right, .col__left {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media all and (min-width: 600px) {
				width: 45%;
			}
		}

		.col__item {
			padding: 0 35px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			border-bottom: 1px solid $table;

			&_name, &_price {
				color: $white;
				font-family: $ff;
				font-size: 12px;
				font-style: normal;
				font-weight: $fw-light;
				line-height: 16px;

				@media all and (min-width: 600px) {
					font-size: 15px;
				}
			}

			&_name {
				width: 70%;
				display: flex;
				flex-direction: column;
				
	
				span {
					color: $white;
					font-family: $ff;
					font-size: 10px;
					font-style: normal;
					font-weight: $fw-light;
					line-height: 13px;
				}
			}

			&_price {
				display: flex;
				justify-content: flex-end;
				width: 30%;
			}
		}

		.col__title,.col__subtitle {
			padding: 0 35px;
			width: 100%;
			display: flex;
			align-items: center;
			height: 40px;
			text-align: center;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 16px;
			border-bottom: 1px solid $table;
			text-transform: uppercase;

			@media all and (min-width: 600px) {
				font-size: 18px;
			}
		}

		.col__title {
			color: $accent;
		}

		.col__subtitle {
			color: $brown;
		}
	}
}