.footer {
	padding: 60px 0 0;
	background-color: $black;
	position: relative;

	@media all and (min-width: $lg) {
		padding: 120px 0 0;
	}

	&__logo {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);
		z-index: -1;
	}
	
	&__wrapper {
		display: flex;
		flex-direction: column;

		@media all and (min-width: 740px) {
			flex-direction: row;
		}
	}

	.h2 {
		margin-bottom: 75px;
	}

	&__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 1;

		@media all and (min-width: 740px) {
			width: 50%;
			padding: 50px 0;
		}
	}

	&__works {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 200px;
		margin-bottom: 36px;
	}

	&__address {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 227px;
		margin-bottom: 36px;
		

		.footer__text {
			position: relative;
			padding-left: 20px;
		}

		.geo {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__contact {
		display: flex;
	}

	&__nums {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		@media all and (min-width: 740px) {
			margin-right: 11px;
			margin-bottom: 0;
		}

		&_wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 36px;

			@media all and (min-width: 740px) {
				flex-direction: row;
			}
		}
	}

	&__social {
		margin-right: 10px;
		transition: opacity ease $tr;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			opacity: $op;
		}
	}

	&__email {
		color: $brown;
		font-family: $ff;
		font-size: 13px;
		font-style: normal;
		font-weight: $fw-light;
		line-height: 20px;
		text-align: center;
		margin-bottom: 36px;

		a {
			color: $white;
		}
	}

	&__media {
		width: 100%;
		max-width: 168px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto 100px auto;

		&_title {
			color: $brown;
			font-family: $ff;
			font-size: 13px;
			font-style: normal;
			font-weight: 300;
			line-height: 20px;
			margin-bottom: 10px;
		}

		&_link {
			width: 30px;
			height: 30px;
			transition: opacity ease $tr;

			&:hover {
				opacity: $op;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&__rights {
		color: $brown;
		font-family: $ff;
		font-size: 10px;
		font-style: normal;
		font-weight: $fw-light;
		line-height: 13px;
		text-align: center;
	}

	&__title {
		color: $brown;
		font-family: $ff;
		font-size: 18px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 27px;
		margin-bottom: 12px;
		text-align: center;
	}

	&__text {
		color: $white;
		text-align: center;
		font-family: $ff;
		font-size: 13px;
		font-style: normal;
		font-weight: $fw-light;
		line-height: 20px;
	}

	&__map {
		width: 100%;
		margin-top: 30px;

		.iframe-map {
			width: 100%;
			height: 100%;
			min-height: 300px;
			border-top-left-radius: $bord;
			border-top-right-radius: $bord;
		}

		@media all and (min-width: 740px) {
			width: 50%;
		}
	}
}